@model FlatworldConnect.Models.Resource
@{
    ViewData["Title"] = "Details";
    
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h1>Project Details</h1>

<div>
    <dl class="row">


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.jobTitle)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.jobTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.skillSet)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.skillSet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.experience)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.experience)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.noOfMonths)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.noOfMonths)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.startDate)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.startDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.endDate)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.endDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.noOfResources)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.noOfResources)
        </dd>
    </dl>
</div>